<!doctype html>
<title>Stock Visualizer</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>

<div class=page>
  <h1>Stock entered {{stockTicker}}</h1>
  <div class=metanav>


    <h4>
      {{script|safe}}
      {{div|safe}}
    </h4>
  </div>
</div>
</html>
